.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div {
    background-color: #ffffff;
    width: 1268px;
    height: 791px;
    position: relative;
  }
  
  .frame .overlap {
    position: absolute;
    width: 1258px;
    height: 124px;
    top: 9px;
    left: 0;
  }
  
  .frame .header {
    display: flex;
    flex-wrap: wrap;
    width: var(--responsive-device-width);
    height: 105px;
    align-items: center;
    gap: var(--size-space-600);
    padding: var(--size-space-800);
    position: absolute;
    top: 12px;
    left: 10px;
    background-color: var(--color-background-default-default);
    border-top-style: none;
    border-right-style: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-style: none;
    border-color: var(--color-border-default-default);
  }
  
  .frame .block {
    position: relative;
    width: 40px;
  }
  
  .frame .navigation-pill-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--size-space-200);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .navigation-pill {
    position: relative;
    flex: 0 0 auto;
    border-radius: var(--size-radius-200);
    gap: var(--size-space-200);
  }
  
  .frame .group {
    position: absolute;
    width: 263px;
    height: 117px;
    top: 7px;
    left: 0;
  }
  
  .frame .overlap-group {
    position: relative;
    height: 117px;
  }
  
  .frame .avatar-block-wrapper {
    position: absolute;
    width: 263px;
    height: 100px;
    top: 17px;
    left: 0;
  }
  
  .frame .avatar-block {
    display: flex;
    width: 263px;
    height: 100px;
    align-items: flex-start;
    gap: var(--size-space-300);
    position: relative;
  }
  
  .frame .avatar {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    border-radius: var(--size-radius-full);
    width: var(--size-icon-large);
    height: var(--size-icon-large);
  }
  
  .frame .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .title {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--color-text-default-secondary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
  }
  
  .frame .description {
    color: var(--color-text-default-tertiary);
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
  }
  
  .frame .group-2 {
    position: absolute;
    width: 105px;
    height: 105px;
    top: 0;
    left: 20px;
    background-image: url(./img/image-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .avatar-group {
    display: flex;
    width: 194px;
    height: 109px;
    align-items: center;
    gap: var(--size-space-100);
    position: absolute;
    top: 0;
    left: 1064px;
  }
  
  .frame .avatar-2 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .avatar-3 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .avatar-4 {
    position: relative;
    width: var(--size-icon-large);
    height: var(--size-icon-large);
    border-radius: var(--size-radius-full);
    background-image: url(./img/shape-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .frame .overflow {
    display: flex;
    flex-direction: column;
    width: 24px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 4px;
    position: relative;
    background-color: var(--color-background-default-secondary);
    border-radius: var(--size-radius-200);
    overflow: hidden;
  }
  
  .frame .initials {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: var(--body-small-font-family);
    font-weight: var(--body-small-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--body-small-font-size);
    text-align: center;
    letter-spacing: var(--body-small-letter-spacing);
    line-height: var(--body-small-line-height);
    font-style: var(--body-small-font-style);
  }
  
  .frame .overlap-2 {
    position: absolute;
    width: 450px;
    height: 578px;
    top: 145px;
    left: 420px;
  }
  
  .frame .menu-item {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .wifi {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .frame .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-space-100);
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .label {
    position: relative;
    flex: 1;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-default);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
  }
  
  .frame .text-wrapper {
    position: relative;
    align-self: stretch;
    font-family: var(--body-small-font-family);
    font-weight: var(--body-small-font-weight);
    color: var(--color-text-default-secondary);
    font-size: var(--body-small-font-size);
    letter-spacing: var(--body-small-letter-spacing);
    line-height: var(--body-small-line-height);
    font-style: var(--body-small-font-style);
  }
  
  .frame .ic-dot {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 17px;
    left: 393px;
  }
  
  .frame .menu-item-2 {
    width: 450px;
    position: absolute;
    top: 72px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .img {
    top: 89px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .menu-item-3 {
    width: 450px;
    position: absolute;
    top: 144px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .ic-dot-2 {
    top: 161px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .menu-item-4 {
    width: 450px;
    position: absolute;
    top: 216px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .ic-dot-3 {
    top: 233px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .menu-item-5 {
    width: 450px;
    position: absolute;
    top: 286px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .ic-dot-4 {
    top: 303px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .menu-item-6 {
    width: 450px;
    position: absolute;
    top: 358px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .ic-dot-5 {
    top: 375px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .menu-item-7 {
    width: 450px;
    position: absolute;
    top: 430px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .ic-dot-6 {
    top: 447px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .menu-item-8 {
    width: 450px;
    position: absolute;
    top: 502px;
    left: 0;
    display: flex;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
  }
  
  .frame .ic-dot-7 {
    top: 519px;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 393px;
  }
  
  .frame .img-2 {
    position: absolute;
    width: 225px;
    height: 381px;
    top: 217px;
    left: 953px;
    object-fit: cover;
  }
  
  .frame .menu {
    display: inline-flex;
    flex-direction: column;
    height: 615px;
    align-items: flex-start;
    padding: var(--size-space-200);
    position: absolute;
    top: 146px;
    left: 25px;
    background-color: var(--color-background-default-default);
    border-radius: var(--size-radius-200);
    overflow: hidden;
    border: 1px solid;
    border-color: var(--color-border-default-default);
    transform: rotate(-0.19deg);
    box-shadow: var(--drop-shadow-300);
  }
  
  .frame .menu-header {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--size-space-200) var(--size-space-400) var(--size-space-100)
      var(--size-space-400);
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }
  
  .frame .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-secondary);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
  }
  
  .frame .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: var(--color-text-default-default);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
  }
  
  .frame .menu-separator {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--size-space-200) var(--size-space-400) var(--size-space-200)
      var(--size-space-400);
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }
  
  .frame .rule {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: var(--color-border-default-default);
  }
  
  .frame .menu-section {
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    position: relative;
  }
  
  .frame .menu-item-9 {
    width: 285px;
    height: 90px;
    align-items: flex-start;
    gap: var(--size-space-300);
    padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
      var(--size-space-400);
    border-radius: var(--radius-radius-md);
    overflow: hidden;
    display: flex;
    position: relative;
  }
  
  .frame .image {
    position: relative;
    width: 40.13px;
    height: 40.13px;
    margin-top: -0.06px;
    margin-left: -0.06px;
    transform: rotate(0.19deg);
  }
  
  .frame .body-2 {
    display: flex;
    flex-direction: column;
    height: 46px;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .frame .row-2 {
    display: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .frame .label-2 {
    margin-right: -27.00px;
    position: relative;
    width: 228px;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-default);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
  }
  
  .frame .description-2 {
    height: 20px;
    margin-top: -3px;
    color: var(--color-text-default-secondary);
    white-space: nowrap;
    position: relative;
    align-self: stretch;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
  }
  
  .frame .img-3 {
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(0.19deg);
    object-fit: cover;
  }
  
  .frame .label-3 {
    margin-right: -27.13px;
    position: relative;
    width: 228px;
    margin-top: -1.00px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: var(--color-text-default-default);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28.0px;
  }
  
  .frame .menu-item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  